
/*GOOGLE FONTS*/

/*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');


/*Prompt*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');



/*TEXT STYLES*/

.staff__header {
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
    font-size: 20pt;
    margin-top: 20px;
    text-align: center;
}

.header {
    font-size: 16pt;
    margin-top: 20px;
    font-family: 'Prompt', sans-serif;
    font-weight: 700;
}

.maintext {
    margin-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: black;

}


li {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

/*Images*/

.header__img {
    max-width: 100%;
    height: auto;
    display: block;
}



/*Containers*/

.activities__container,
.about__paragraph {
    padding-left: 20px;
}

.page__container {

    max-width: 900px;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
}



.card {
    margin: auto;
    margin-top: 20px;
    width: 350px;
}

/*Flex*/

.card__flex {

    display: flex;
    flex-wrap: wrap;

}

.carouselcontainer {
    display: flex;
    flex-wrap: wrap;

}

.carousel__text {
    position: relative;
    bottom: 150px;
    width: auto;
    padding: 10px;
    background-color: white;
    opacity: 0.5;
    }



  @media only screen and (max-width: 800px) {
 
    .carouselcontainer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    
    }

    .carousel__text {
        position: static !important;
        color: black;
        font-weight: 600;
        width: auto;
        padding: 20px;
        background-color: white;
        opacity: 0.5;
    
      }

  }

  
  